select, select.form-control {
    font-size: 14px;
    padding-right: 15px;
}

input[type = 'text'] {
    font-family: "Consolas", monospace;
}

ul#rowVarButton {
    padding: 0;
}

ul#rowVarButton li {
    display: table-cell;
    vertical-align: middle;
}

/*.code {
    padding: 20;
    font-family: "Consolas", Monaco, monospace;
}*/
