select, select.form-control {
    font-size: 14px;
    padding-right: 15px;
}

input[type = 'text'] {
    font-family: "Consolas", monospace;
}

ul#dataButton {
    padding: 0;
}

ul#dataButton li {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
}

ul#rowVarButton {
    padding: 0;
}

ul#rowVarButton li {
    display: table-cell;
    vertical-align: middle;
}

ul#addVarButton {
    padding: 0;
}

ul#addVarButton li {
    display: table-cell;
    vertical-align: middle;
}

ul#summariseDataButton {
    padding: 0;
}

ul#summariseDataButton li {
    display: table-cell;
    vertical-align: middle;
}


/*.code {
    padding: 20;
    font-family: "Consolas", Monaco, monospace;
}*/
